@import "theme.css";

#map {
    width: 100%;
    height: 100%;
}

#top-right-controls {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 400;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.control-btn {
    padding: 10px;
    margin: 10px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 6px;
    border: 3px solid var(--yellow);
    width: 120px;
}

form button {
    background-color: var(--black);
    border-radius: 6px;
    border: 3px solid var(--yellow);
}

button:hover {
    border: 3px solid var(--green);
}

#radius-div {
    position: absolute;
    z-index: 400;
    bottom: 20px;
    right: 20px;
    display: block;
    float: left;
}

#radius-div p {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    border: 3px solid var(--yellow);
    width: 50px;
}

#radius-slider {
    bottom: 20px;
    right: 20px;
}

#sighting-info {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    background-color: var(--gray);
    z-index: 5000;
    padding: 10px;
}

.border {
    width: 100%;
    border: 3px solid var(--yellow);
    align-content: center;
}

#sighting-info p {
    color: var(--white);
    text-align: center;
}

#sighting-info form {
    margin-left: 15px;
}

.purple-marker {
    filter: hue-rotate(60deg);
}

.magenta-marker {
    filter: hue-rotate(90deg);
}

.pink-marker {
    filter: hue-rotate(120deg);
}

.red-marker {
    filter: hue-rotate(150deg);
}

.orange-marker {
    filter: hue-rotate(180deg);
}

.green-marker {
    filter: hue-rotate(240deg);
}