@(identity: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Avispamientos - Map view</title>
        @* Stylesheets *@
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/home.css")">
        @* JQuery *@
        <script src="@routes.Assets.versioned("javascripts/jquery-3.6.1.js")"></script>
        @* Leaflet *@
        <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.9.3/dist/leaflet.css"
            integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
            crossorigin="">
        <script src="https://unpkg.com/leaflet@@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
        @* Icons *@
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/@@mdi/font@@6.9.96/css/materialdesignicons.min.css">
    </head>
    <body>
        <div id="container">
            <div id="nav">
                <a class="active" href="/">Home</a>
                @if(identity != null) {
                    <p>Logged In as @identity</p>
                    <a style="float: right" href="/logout">Log Out</a>
                    <a style="float: right" href="/unsubscribe">Unsubscribe</a>
                } else {
                    <a style="float: right" href="/register">Register</a>
                    <a style="float: right" href="/login">Login</a>
                }
            </div>
            <div id="content">
                <div id="map"></div>
                <div id="top-right-controls">
                    <div style="display: flex; flex-direction: row">
                        <button class="control-btn" id="locate-btn">Locate me</button>
                        <button class="control-btn" id="change-location-btn">Change Location</button>
                    </div>
                    @if(identity != null) {
                        <button class="control-btn" id="add-btn">Add new</button>
                    }
                </div>
                <div id="radius-div">
                    <input type="range" min="0" max="12" value="4" id="radius-slider">
                    <p>1000</p>
                </div>
                <div id="sighting-info">
                    <div class="border">
                        <p></p>
                        <p>Created by: </p>
                        <p>On:</p>
                        <form id="si-form">
                            <label for="sighting-info-text">Sighting information</label>
                            <textarea style="width: 90%" rows="5" cols="" maxlength="140" name="si-text"></textarea>
                        </form>
                        <button id="si-btn" class="mdi mdi-pencil"></button>
                        <button id="srm-btn" class="mdi mdi-delete"></button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            const identity = "@identity";
        </script>
        <script src="@routes.Assets.versioned("javascripts/cookies.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/coords.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
    </body>
</html>
