@()

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Avispamientos - Map view</title>
        @* Stylesheets *@
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/home.css")">
        @* JQuery *@
        <script src="@routes.Assets.versioned("javascripts/jquery-3.6.1.js")"></script>
        @* Leaflet *@
        <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.9.3/dist/leaflet.css"
            integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
            crossorigin="">
        <script src="https://unpkg.com/leaflet@@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
            crossorigin=""></script>
    </head>
    <body>
        <div id="container">
            <div id="nav">
                <a class="active" href="/">Home</a>
                <a style="float: right" href="/register">Register</a>
                <a style="float: right" href="/login">Login</a>
                <a style="float: right" href="/unsubscribe">Unsubscribe</a>
            </div>
            <div id="content">
                <div id="map"></div>
                <button id="add-btn">Add new</button>
                <button id="locate-btn">Locate me</button>
            </div>
        </div>

        <script src="@routes.Assets.versioned("javascripts/cookies.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")"></script>
    </body>
</html>
