@import helper._

@(error: String)(implicit request: Http.Request)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Avispamientos - Login</title>
        @* Stylesheets *@
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/form.css")">
        @* JQuery *@
        <script src="@routes.Assets.versioned("javascripts/jquery-3.6.1.js")"></script>
        @* Leaflet *@
        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/leaflet.css")">
        <script src="@routes.Assets.versioned("javascripts/leaflet.js")"></script>
    </head>
    <body>
        <div id="container">
            <div id="nav">
                <a class="active" href="/">Home</a>
                <a style="float: right" href="/register">Register</a>
                <a style="float: right" href="/login">Login</a>
            </div>
            <div id="content">
                <form action="/register" onsubmit="return validateForm()" method="POST">
                    <div class="img-container">
                        <img src="@routes.Assets.versioned("images/favicon.png")" alt="Logo">
                    </div>
                    <label for="username"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="username" required>
                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="password" required>
                    <label for="password2"><b>Repeat Password</b></label>
                    <input type="password" placeholder="Repeat Password" name="password2" required>
                    @CSRF.formField
                    @if(error != null) {
                        <div style="visibility: visible" id="error-msg">@error</div>
                    } else {
                        <div style="visibility: hidden" id="error-msg">This is an error message</div>
                    }
                    <button type="submit">Register</button>
                </form>
            </div>
        </div>
        <script>
            function validateForm() {
                if ($("input[name=password]")[0].value !== $("input[name=password2]")[0].value) {
                    $("#error-msg")[0].style.visibility = "visible";
                    $("#error-msg")[0].innerHTML = "<b>Passwords don't match!</b>";
                    return false;
                } else {
                    return true;
                }
            }
        </script>
    </body>
</html>
